body
{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}
/*Police*/
p
{
    color: black;
}
h1
{
    font-weight: 800;
    font-size: 1.5em;
}
h2
{
    font-weight:500;
    font-size: 1.2em;
}
.marge
{
    margin-left: 15px;
}
.PremierTitre
{
    margin-bottom: -1%;
}
.bouton 
{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.texte1
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
.afficher
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
.Activités
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-left: 3%;
}
h4
{
    color: black;
}
h5
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: medium;
}
.colorend
{
    font-size: 1em;
}
.marge
{
    color: black;
}
/*Centrage*/
#container
{
    max-width: 1400px;
}
body
{
    margin-top: 0%;
}
/*header*/
.logo
{
    width: 100px;
    margin-right: 40%;
    margin-top: 10px;
}
#secnav
{
    display:flex;
    justify-content: space-between;
}

.nav
{
    display: flex;
    margin-right: 5%;
    justify-content: center;
}
.nav1
{
    display: flex;
    color: blue;
    text-decoration: none;
    border-top: solid 3px #0065FC;
    padding-top: 25px;
}
.nav2
{
    display: flex;
    color: black; 
    text-decoration: none;
    padding-top: 29px;
}
.nav3
{
    display: flex;
    text-decoration: none;
    padding-top: 29px;
}
.header
{
    margin-left: 3%;
}
/*barre de recherche*/
.icone1
{
    background-color: #F2F2F2;
    width: 25px;
    border-bottom-left-radius : 10px;
    border-top-left-radius: 10px;
    padding: 12px;
    display: flex;
    justify-content: center;
}
#recherche
{
    display: flex;
    align-items: center;
}
.iconerecherche
{
    display: none;
}
.bouton
{
    background-color: #0065FC;
    border-bottom-right-radius : 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}
.recherche1
{
    padding: 10px;
}
/*filtre*/
.colorfiltre
{
   color: black; 
   text-decoration: none;
}
#filtres
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30%;
}
.icone2
{
    border: solid #DEEBFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.colorfiltres :hover
{
    background-color: #DEEBFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    transition: 0.5s;
}
.icone3
{
    background-color: #DEEBFF;
    border-radius: 40px;
    width: 35px;
    height: 35px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -1%;
}
.texte1
{
    margin: 5px;
}
/*info*/
#info
{
display: flex;
align-items: center;
}
.info2
{
border-radius: 20px;
margin-right: 20px;
}
/*Partie principale*/
#principale
{
    display: flex;
    justify-content: space-around;
    margin-left: 1%;
    margin-bottom: 50px;
}
.TitrePrincipaleHeberge
{
   margin-left: 3%;
   display: flex;
   margin-top: 35px;
   margin-bottom: 5px;
}
.premiere
{
    background-color:  #F2F2F2;
    border-radius: 20px; 
    width: 60%;
    padding-bottom: 30px;
}
.hebergements
{
    width: 30%;
    margin: 2%; 
    border-radius: 20px;   
    background-color: white;
    box-shadow: #DEEBFF 1px 1px 15px;
}
.hebergements:hover
{
    transform: scale(1.1);
    transition: 0.3s;
}
.titre-hebergement
{
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}
.textimg
{
    margin-left: 15px;
    margin-bottom: 10px;
}
#test
{
    display: flex;
    justify-content: space-around;
}
#test2
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.photo
{
    width: 96%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 2%;
    object-fit: cover;
}
.afficher
{
    color: black;
    text-decoration: none;
    margin-left: 3%;
}
/*Partie en haut droite*/
#deuxieme
{
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.populairestext
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.populaire
{
    width: 45%;
    height: 150px;
}
.se1
{
    background-color: white;
    margin: 2%; 
    border-radius: 20px; 
    display: flex;
    margin-bottom: 35px;
    box-shadow: #DEEBFF 1px 1px 15px;
}
.se1:hover
{
    transform: scale(1.1);
    transition: 0.3s;
}
.se1-1
{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.photo2
{
    width: 150px;
    height: 96%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 2%;
    object-fit: cover;
}
.Link
{
    display: flex;
    width: 100%;
}
/*2eme partie*/
#deuxiemepartie
{
display: flex;
flex-direction: row;
justify-content: space-around;
margin-left: 1%;
}
.Vieux-port
{
    width: 250px;
    height: 358px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.Vieux-port:hover
{
    transform: scale(1.1);
    transition: 0.3s;
}
#Vieux-port1
{
    border-radius: 20px;
    margin-bottom: 35px;
    box-shadow: #deebff 1px 1px 15px;
    padding-bottom: 5px;
}
.Fort-de-Pomègues
{
    width: 300px;
    height: 125px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.Fort-de-Pomègues:hover
{
    transform: scale(1.1);
    transition: 0.3s;
}
#Fort1
{
    border-radius: 20px;
    margin-bottom: 35px;
    box-shadow: #deebff 1px 1px 15px;
    padding-bottom: 5px;
}
.Îles-du-Frioul
{
    width: 300px;
    height: 125px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.Îles-du-Frioul:hover
{
    transform: scale(1.1);
    transition: 0.3s;
}
#Îles1
{
    border-radius: 20px;
    margin-bottom: 35px;
    box-shadow: #deebff 1px 1px 15px;
    padding-bottom: 5px;
}
.Parc-National
{
    width: 250px;
    height: 358px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.Parc-National:hover
{
    transform: scale(1.1);
    transition: 0.3s;
}
#Parc-National1
{
    border-radius: 20px;
    margin-bottom: 35px;
    box-shadow: #deebff 1px 1px 15px;
    padding-bottom: 5px;
}
.Notre-Dame
{
    width: 300px;
    height: 125px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.Notre-Dame:hover
{
    transform: scale(1.1);
    transition: 0.3s;
}
#Notre-Dame1
{
    border-radius: 20px;
    box-shadow: #deebff 1px 1px 15px;
    padding-bottom: 5px;
    margin-bottom: 35px;
}
.Parc-Longchamp
{
    width: 300px;
    height: 125px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.Parc-Longchamp:hover
{
    transform: scale(1.1);
    transition: 0.3s;
}
#Parc-Longchamp1
{
    border-radius: 20px;
    margin-bottom: 35px;
    box-shadow: #deebff 1px 1px 15px;
    padding-bottom: 5px;
}
/*Bas de page*/
#bas-de-page
{
    background-color: #F2F2F2;
    display: flex; 
}
.colorend
{
    color: black;
    text-decoration: none;
}
.a-propos
{
    margin-right: 20%;
    margin-left: 3%;
}
.hebergements2
{
    margin-right: 20%;
}
/*version mobile*/
@media (max-width: 575.98px) 
{
    .header
    {
        margin-left: 0%;
    }
    /*Nav*/
    #secnav
    {
        display: flex;
        flex-wrap: wrap;
    }
    .logo
    {
        margin-right: 35%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    .nav
    {
        margin-right: 0%;
    }
    .nav1
    {
        border-top: none;
        padding-top: 0em;
    }
    .nav2
    {
        padding-top: 0em;
    }
    .nav3
    {
        margin-right: 20px;
        padding-top: 35px;
    }
    .navHebergements
    {
        order: 2;
        border-bottom: solid 3px #F2F2F2;
        border-bottom: solid 3px #0065FC;
        width: 50%;
    
    }
    .navAtivités
    {
      order: 3;
      border-bottom: solid 3px #F2F2F2;
      width: 50%;
    }
    .navInscription
    {
        order: 1;
    }

    /*recherche*/
    .bouton{
        display: none;
    }
    .iconerecherche{
        display: inline;
        background-color: #0065FC;
        border-bottom-right-radius : 10px;
        border-top-right-radius: 10px;
        padding: 10px;
    }
    /*filtre*/
    #filtres{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 15px;
    }
    .icone2{
        margin-bottom: 5px;
    }
    .colorfiltre{
        margin-right: 200px;
    }
    /*Partie haut*/
    #principale{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    /*les plus polpulaires*/
    .deuxieme{
        display: flex ;
        flex-direction: column;
        width: 100%;
    }
    .se1-1
    {
        margin-left: 10%;
    }
    .se1:hover
    {
        transform: none;
    }
    /*hebergements*/
    .premiere{
        background-color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    #test{
        display: flex;
        flex-direction: column;
    }
    #test2{
        display: flex;
        flex-direction: column;
    }
    .hebergements
    {
        width: 100%;
    }
    .hebergements:hover
{
    transform: none;
}
    /*Partie du bas*/
    .screencup
    {
        display: flex;
        flex-direction: column;
    }
    #deuxiemepartie
    {
        display: flex;
        flex-direction: column;
    }
    .Vieux-port
    {
        width: 100%;
        height: 150px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    .Vieux-port:hover
    {
        transform: none;
    }
    .Fort-de-Pomègues
    {
        width: 100%;
        height: 150px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    .Fort-de-Pomègues:hover
    {
        transform: none;
    }
    .Îles-du-Frioul
    {
        width: 100%;
        height: 150px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    .Îles-du-Frioul:hover
    {
        transform: none;
    }
    .Parc-National
    {
        width: 100%;
        height: 150px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    .Parc-National:hover
    {
        transform: none;
    }
    .Notre-Dame
    {
        width: 100%;
        height: 150px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    .Notre-Dame:hover
    {
        transform: none;
    }
    .Parc-Longchamp
    {
        width: 100%;
        height: 150px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    .Parc-Longchamp:hover
    {
        transform: none;
    }
    /*Bas de Page*/
    #bas-de-page
    {
        display: flex;
        flex-direction: column;
    }
    .hebergements2
    {
        margin-left: 3%;
    }
    .assistance
    {
        margin-left: 3%;
    }
}
/*version tablette*/
@media (min-width: 425px) and (max-width: 1280px)
{
    #container
    {
        max-width: 1024px;
    }
    #principale {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-left: 1%;
        margin-bottom: 50px;
    }
    .premiere
    {
        margin-bottom: 50px;
        width: 90%;
    }
    #deuxiemepartie {
        display: flex;
        flex-wrap: wrap;
        margin-left: 1%;
    }
    .grandephoto
    {
        margin-right: 10px;
        margin-left: 10px;
    }
    #Notre-Dame1 {
        border-radius: 20px;
        box-shadow: #deebff 1px 1px 15px;
        padding-bottom: 5px;
        margin-bottom: 35px;
        margin-right: 80px;
    }
    .screencup
    {
        display: flex;
    }
}
@media (min-width: 425px) and (max-width: 882px)
{
    .screencup
    {
        display: flex;
        flex-direction: column;
    }
    #Notre-Dame1 
    {
        margin-right: 0%;
    }
}