@font-face {
    font-family: 'Raleway';
    src: url(P2/Police/static/Raleway-Regular.ttf);
    src: url(P2/Police/static/Raleway-Black.ttf);
    src: url(P2/Police/static/Raleway-Bold.ttf);        
}
body
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
/*header*/
.logo
{
    width: 100px;
    height: 40px;
    margin: 2%;
}
#secnav
{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#nav
{
    display: flex;
    flex-direction: row;
}
.nav1
{
    display: flex;
}
.nav2
{
    display: flex;
}
/*barre de recherche*/
.icone1
{
    background-color: rgb(49, 143, 250);
    width: 25px;
    border-bottom-left-radius : 10px;
    border-top-left-radius: 10px;
    padding: 12px;
    display: flex;
    justify-content: center;
}
#recherche
{
    display: flex;
    align-items: center;
}
.bouton
{
    background-color: rgb(96, 96, 230);
    border-bottom-right-radius : 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}
.recherche1
{
    padding: 10px;
}
/*filtre*/
#filtres
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icone2
{
    border: solid rgb(49, 143, 250);
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.icone2-1
{
    background-color: cornflowerblue;
    border-radius: 40px;
    width: 35px;
    height: 35px; 
    align-items: center;
}
.texte1
{
    margin: 5px;
}
/*info*/
#info
{
display: flex;
align-items: center;
}
.info2
{
border-radius: 20px;
margin: 20px;
}
/*Partie principale*/
#principale
{
    display: flex;
    justify-content: space-around;
}
.premiere
{
    background-color:  #F2F2F2;
    width: 100%;
    border-radius: 20px; 
    margin: 5%;
}
.hebergements
{
    width: 70%;
    margin: 2%; 
    border-radius: 20px;   
    background-color: white;
    flex-direction: column;
}
#test
{
    width: 100%;
    display: flex;
}
#test2
{
    width: 100%;
    display: flex;
}
.photo
{
    width: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 2%;
}
/*Partie en haut droite*/
#deuxieme
{
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.populairestext
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.se1
{
    background-color: white;
    margin: 2%; 
    border-radius: 20px; 
    display: flex;
}
.se1-1
{
    display: flex;
    flex-direction: column;
}
.photo2
{
    width: 40%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 2%;
}
/*Fusion super saiyan*/
#deuxieme
{
   width: 40%; 
}
/*Section bas du slip*/
.Vieux-port
{
    width: 20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 2%;
}
.Fort-de-Pomègues
{
    width: 20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 2%;
}
.Îles-du-Frioul
{
    width: 20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 2%;
}
.Parc-National
{
    width: 20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 2%;
}
.Notre-Dame
{
    width: 20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 2%;
}
.Parc-Longchamp
{
    width: 20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 2%;
}
/*Bas de page*/
#bas-de-page
{
    background-color: #F2F2F2;
    display: flex; 
   flex-wrap: wrap;  
   justify-content:space-around
}